body {
    background-color: azure;
}

#TY1 {
    margin-bottom: 50px
}

#SF1 {
    padding-left: 25px;
}

#SF2 {
    padding-left: 15px;
}

#SF3 {
    margin-top: 0px;
    color: blue;
}

#SF4 {
    margin-top: 0px;
    color: blue;
}